.grid {
    width 100%;
}

.grid:after {
    content: '';
    display: table;
    clear: both;
}

.col {
    float: left;
}

.col_count_3 {
    width: 33%;
}

.col_count_10 {
    width: 1%;
}

.current__value {
    text-align: center;
    font-size: 64pt;
}

.bar__wrapper {
    height: 100px;
    position: relative;
}

.bar__content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
