.current.grid
    .current__value.col.col_count_3
        span= locals.current.voltage
        span V
    .current__value.col.col_count_3
        span= locals.current.resistance
        span &Omega;
    .current__value.col.col_count_3
        span= locals.current.temperature
        span &deg;C
