doctype html
html(lang="en")
    head
        block title
            title Title
        link(rel="stylesheet" href="build.css")
        script(src="/socket.io/socket.io.js")
        script(src="//yastatic.net/jquery/2.1.3/jquery.min.js" async)
        script(src="app.js" async)
    body
        block content
