doctype html
html(lang="en")
    head
        block title
            title Title
        meta(charset="utf-8")
        block data
            script //Data here
        link(rel="stylesheet" href="build.css")
        script(src="/socket.io/socket.io.js")
        script(src="app.js" async)
    body
        block content
